<div class="form-row{{#if override}} {{override}}{{/if}}{{#if txterror}} form-error{{/if}}"{{#if parent}} id="{{parent}}"{{/if}}>
	{{#eq nolabel compare="true"}}
	{{else}}
	<label for="{{name}}">{{label}}</label>
	{{/eq}}
	<div class="form-textarea">
		<textarea id="{{name}}" name="{{name}}" class="textarea{{#if txterror}} -error{{/if}}{{#if function}} {{function}}{{/if}}" placeholder="{{placeholder}}"{{#eq required compare="true"}} required="required"{{/eq}}{{#eq disabled compare="true"}} disabled="disabled"{{/eq}}{{#eq readonly compare="true"}} readonly="readonly"{{/eq}} rows="3"{{#if dataAttr}} {{dataAttr}}="{{dataAttrVal}}"{{/if}}{{#if callFunc}} {{{callFunc}}}{{/if}}>{{#if txtVal}}{{txtVal}}{{/if}}</textarea>
	</div>
	<div class="form-hint">{{{txthint}}}</div>
</div>
